<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div>
             <img :src="singleImages[0].url" width="100%" style="margin-right:15px; border: 2px solid rgb(50, 164, 202); border-top-left-radius: 30px;">
        </div>
    </div>
</script>
