<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div>
            <div v-for="image in singleImages">
                <a :href="image.url" data-lightbox="single-big-image-gallery">
                    <img :alt="getAltText(image)" class="owl-lazy" :data-src="image.url" itemprop="image">
                </a>
            </div>
        </div>
    </div>
</script>
