<script type="x/template" id="vue-item-image-carousel">
    <div itemscope itemtype="http://schema.org/Thing">
        <div v-for="image in singleImages">
             <img :src="image.url" width="100%">
        </div>
    </div>
</script>
