.footer {
    margin-top: 18px !important;
}

.produktbeschreibung {
    width:100%;
/*font-weight: bold;*/
}
.produktbeschreibung td,th{
padding: 4px 5px;
vertical-align: top;

}
.produktbeschreibung tr:nth-child(odd) {
background-color: #EFEFEF;
color: #4d4f4d;
}
.produktbeschreibung tr:nth-child(even) {
background-color: #FEFEFE;
color: #4d4f4d;
}
.produktbeschreibung tr:hover {
background-color: #32A4CA;
color: #fff;
}
