@media only screen and (min-width: 992px) {
  .navbar-brand img {
    max-height: 7rem; }
}
#page-body {
 padding-top:1rem;
}
	
.navbar {
  padding-top: 27px;
}

owl-wrapper-outer {
  height: auto;
}
h1 {
 margin-top:1.7rem;	
}

h1,h2,h3,h4,h5,h6 {
 margin-top:1.1rem;
 margin-bottom:.5rem;
}

.cmp-product-thumb .price {
 color:#7a7f7f;
 line-height:1.1;
 font-weight:700;
 font-size:1.4rem;
 min-height:21px;
}

.footer-info div {
  padding: 12px 15px 7px 15px;  
}

.footer-lower{
  margin-top: 18px !important;
  background-color: #f2f2f2;
  padding: 20px 15px 15px 15px;
}

.footer {
    margin-top: 18px !important;
}

.center {
    text-align: center;
}

.image-list {
    list-style: none;
    padding: 0;
    text-align: center;
}
.image-list > li {
  display: inline-block;
  margin: 2px 12px;
  vertical-align: middle;
}

.stay-top {
  margin: 0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  z-index: 100;
  display: none;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border: 1px solid #282d2f;
  background: #4d4f4d;
  border-radius: 0.1rem;
  cursor: pointer;
  text-align: center; }
  .stay-top:hover {
    opacity: 1; }

.stay-top i {
  font-size: 29px;
  color: #f7f7f9; }


.produktbeschreibung {
    width:100%;
/*font-weight: bold;*/
}

.produktbeschreibung td,th{
padding: 4px 5px;
vertical-align: top;
}

.produktbeschreibung tr:nth-child(odd) {
background-color: #EFEFEF;
color: #4d4f4d;
}

.produktbeschreibung tr:nth-child(even) {
background-color: #FEFEFE;
color: #4d4f4d;
}

.produktbeschreibung tr:hover {
background-color: #32A4CA;
color: #fff;
}

.tabelleBlau {
	width:100%;
	
} 
.tabelleBlau td,th{
	padding: 4px 5px;
	vertical-align: top;
	
} 
.tabelleBlau tr:nth-child(odd) {
	
	background-color: #C4F1FC;
	/*background-color: #ADD8E6;*/
	color: #000;
}
.tabelleBlau tr:nth-child(even) {
	background-color: #FEFEFE;
	color: #000;
}
.tabelleBlau tr:hover {
	background-color: #32A4CA;
	color: #fff;
}
