.navbar-brand {
  float: none;
  padding: 0.5rem 0;
  display: inline-block; }
  .navbar-brand img {
    max-height: 7rem; }

.footer {
    margin-top: 18px !important;
}

.wrapper-main #page-body {
  margin-top: 190px; 
}

@media (min-width: 992px) {
  .wrapper-main > nav.container-max {
    top: 164px; } }
  @media (min-width: 1200px) and (min-width: 1200px) {
        .wrapper-main .breadcrumb {
          padding: 0.5rem 0; } }


.stay-top {
  margin: 0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  z-index: 100;
  display: none;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  border: 1px solid #282d2f;
  background: #4d4f4d;
  border-radius: 0.1rem;
  cursor: pointer;
  text-align: center; }
  .stay-top:hover {
    opacity: 1; }

.stay-top i {
  font-size: 29px;
  color: #f7f7f9; }


.produktbeschreibung {
    width:100%;
/*font-weight: bold;*/
}

.produktbeschreibung td,th{
padding: 4px 5px;
vertical-align: top;
}

.produktbeschreibung tr:nth-child(odd) {
background-color: #EFEFEF;
color: #4d4f4d;
}

.produktbeschreibung tr:nth-child(even) {
background-color: #FEFEFE;
color: #4d4f4d;
}
.produktbeschreibung tr:hover {
background-color: #32A4CA;
color: #fff;
}
