{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<div class="footer">

    <div class="{% if topButtonPosition == "right" %}back-to-top{% else %}back-to-top-center{% endif %} hidden-sm-down">
        <i class="fa fa-chevron-up"></i>
    </div>

    <div class="to-top hidden-md-up" v-scroll-to-top>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>

    <div class="container-max footer-content">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <p class="h4 margin-top-05 center">Zahlen Sie bequem per</p>
            <ul class="image-list">
                <li>
                    <img src="https://www.paypalobjects.com/webstatic/de_DE/i/de-pp-logo-100px.png" alt="PayPal" title="PayPal" data-toggle="tooltip" data-placement="top" height="32px" hspace="10px" vspace="8px">
                    <img src="/images/gallery/banner/payment_small.png" alt="Sofortueberweisung" title="Sofortueberweisung" data-toggle="tooltip" data-placement="top" height="32px" vspace="8px" hspace="10px">
                    <img alt="Bar" hspace="10px" src="/images/gallery/banner/bar.jpg" style="height: 32px;" vspace="12px" />
                    <img alt="EC" hspace="10px" src="/images/gallery/banner/ec.jpg" style="height: 32px;" vspace="12px" />
                    <img alt="Vorkasse" hspace="10px" src="/images/gallery/banner/vorkasse.jpg" style="height: 32px;" vspace="12px" />
                    <!-- <img src="/images/gallery/banner/Amazon.jpg" alt="Amazon" title="Amazon" data-toggle="tooltip" data-placement="top" height="32px" hspace="10px" vspace="8px"> -->
                </li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                Zahlungshinweise
            </div>
        </div>
    </div>
</div>
